<%- include('./partials/header.ejs'); -%>
<div class="container">
    <div class="jumbotron">
        <%- include('./partials/lead.ejs'); -%>
        <%- include('./partials/upload_form.ejs'); -%>
    </div>

    <% if (malwareBanner) { %>
        <%- include('./partials/malware_banner.ejs'); -%>
    <% } %>

    <% if (donationBanner) { %>
        <%- include('./partials/donation_banner.ejs'); -%>
    <% } %>
<%- include('./partials/footer.ejs'); -%>