<p class="alert alert-info">
    <strong><%= siteName %> is free to use, but our hosting costs are not</strong>

    &mdash; donations are what keep <%= siteName %> alive, free from ads and fast.

    <span class="donate-btns">

        <% if (bitcoinAddress) { %>
            <a class="donate-btn donate-bitcoin" href="bitcoin:<%= bitcoinAddress %>?label=<%= siteName %>&amp;message=Hosting%20Costs" target="_BLANK">
                    <span class="icon icon-bitcoin"></span>
                                        Bitcoin
                </a>
        <% } %>

            <% if (ethereumAddress) { %>
                <a class="donate-btn donate-ethereum" href="ethereum:<%= ethereumAddress %>" target="_BLANK">
            <span class="icon icon-ethereum"></span>
                                Ethereum
        </a>
            <% } %>

            <% if (paypalUrl) { %>
                <a class="donate-btn donate-paypal" href="<%= paypalUrl %>" target="_BLANK">
                    <span class="icon icon-paypal"></span>
                                        PayPal
                </a>
            <% } %>

            <% if (kofiUrl) { %>
                <a class="donate-btn donate-kofi" href="<%= kofiUrl %>" target="_BLANK">
                    <span class="icon icon-kofi"></span>
                                        Ko-Fi
                </a>
            <% } %>
            </span>
</p>