<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            opacity: 0;
        }
    </style>
    <meta name="generator" content="Uguu <%= pkgVersion %>">
    <meta name="description" content="<%= SiteMetaInfo %>">
    <title><%= siteName %> &middot; <%= subTitle %></title>
    <link rel="icon" type="image/png" href="img/favicon-32x32.png"/>
    <link rel="preload" href="img/bg.avif" as="image" type="image/avif" fetchpriority="high"/>
    <link rel="preload" href="uguu.min.css" as="style" fetchpriority="high"/>
    <link rel="prefetch" href="uguu.min.js" as="script" fetchpriority="low"/>
    <script async>
        (() => {
            const g =<%- JSON.stringify(GRILLS) %>, r = g[Math.floor(Math.random() * g.length)];
            document.documentElement.style.setProperty('--avif-bg', `url('/img/grills/${r}.avif')`);
            document.documentElement.style.setProperty('--png-bg', `url('/img/grills/${r}.png')`);
            document.head.insertAdjacentHTML('beforeend', `<link rel="preload" href="img/grills/${r}.avif" as="image" type="image/avif" fetchpriority="high"/>`)
        })();
    </script>
    <link rel="stylesheet" href="uguu.min.css" media="print" onload="this.media='all'">
</head>
<body>
